.login{
    font-size: 11px;
    position: relative;
    text-align: center;
    top: 200px;

    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    &__form{
        display: flex;
        flex-direction:column;
    }
    &__title{
        text-align: left;
        padding-bottom: 15px;
    }
    
    &__inputTitle{
        text-align: left;
        padding-bottom: 6px;
    }
    &__inputField{
        width: 400px;
        height: 25px;
        border: 1px solid black;
        border-radius: 0;
        margin-bottom: 10px;
        outline: none;
    }

    &__btn{
        width: 406px;
        background-color: black;
        color: white;
        border: solid black;
        margin-top: 8px;
        padding-top: 9px;
        padding-bottom: 9px;
        font-size: 11px;
    }
}
