.gearCard {
    padding-bottom: 30px;
    padding-right: 20px;
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif;

    &__img {
        height: 300px;
        max-width: 300px;
    }

    &__itemDesigner{
        font-size: 11px;
        font-weight: 400;
        padding-bottom: 3px;
    }

    &__title{
        font-weight: 400;
        font-size: 11px;
        padding-bottom: 2px;
    }

    &__price{
        font-weight: 400;
        font-size: 11px;
    }

    a{
        text-decoration: none;
        color: black;
    }
}


/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    
    .gearCard{
        // display: none;

        &__img{
            height: 200px;
            width: 200px;
        }
    }
}