.FourOFour {
	display: block;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: none;
    margin-top: 300px;


    &__404{
        font-size: 30px;
    }

    &__text{
        padding-top: 30px;
        font-size: 20px;
    }
}