.emptyCart {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 40px;


    &__title{
        font-weight: 300;
        font-size: 12px;
        padding-bottom: 30px;
    }

    &__subtitle{
        font-weight: 300;
        font-size: 11px;
    }

    &__loginPrompt{
        padding-top: 1px;
        font-weight: 300;
        font-size: 11px;
    }

    &__btn{
        font-weight: 300;
        margin-left: 20px;
        width: 20%;
        height: 38px;
        font-size: 10px;
        background-color: transparent;
        color: black;
        border: 1px solid black;
        margin-top: 15px;
        cursor: pointer;
    }
    
}
.LogInSpan{
    text-decoration: underline;
    cursor: pointer;
}