.leftPanel {
      max-height: 300px;
      width: 240px;
      font-size: 11px;
      margin-top: 80px;
      display: inline-block;
      font-family:Helvetica Neue,Helvetica,Arial,sans-serif;

    &__allCatText{
      font-weight: 500;
      padding-bottom: 15px;
   }

   &__allDesiText{
      padding-top: 20px;
      padding-bottom: 15px;
      font-weight: 500;
   }

   &__designersList{
      height: 100vh;
      font-size: 11px;
   }
}