.leftPanel {
      display: flex;
      flex-direction: column;
      padding-left: 25px;
      max-height: 300px;
      width: 15%;
      font-size: 11px;
      margin-top: 40px;
      font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
      list-style: none;
      

    &__allCatText{
      font-weight: 500;
      padding-bottom: 15px;
   }

   &__allDesiText{
      padding-top: 20px;
      padding-bottom: 15px;
      font-weight: 500;
      
   }
   &__allItemsList{
      font-size: 11px;
   }
   &__designersList{
      height: 100vh;
      font-size: 11px;
   }
}

/* ----------- Mobile ----------- */
@media only screen and (max-width: 600px) {
   .leftPanel{
      display: none;
   }
}
