.navBar {
    height: 40px;

    &__container{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1800px;
    }

    &__img{
        width: 90px;
        height: 25px;
        padding-top: 10px;
    }

    &__itemList {
        list-style-type: none;
        display: flex;
        gap: 25px;
        padding: 0;

    }
}
// .navBarTopLeft li {
//     list-style-type: none;
// }
// .navBarTopLeft__liContainer{
//     display: grid;
//     grid-template-columns: repeat(7, 1fr);

// }
// .navBarTopLogo {

//     &__img{
//         height: 20px;
//         width: 60px;
//         vertical-align: middle;
//     }

// .navBar__link {
//     display: inline-block;
//     margin: 25px;
//     font-size: 11px;
// }

// .navBar__logo a {
//     color: black;
//     text-decoration: none;
//     font-weight: 400;
// }
// .navBar__logo a:hover {
//     text-decoration: underline;
// }
// .navBar__link a {
//     color: rgb(42, 42, 42);
//     text-decoration: none;
// }
// .navBar__link a:hover {
//     text-decoration: underline;
// }
// .navBar__text {
//     display: inline;
//     margin-left: 505px;
// }