.instructors{
    display: grid;
    margin-top: 100px;

    &__carousel-container{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    &__card{
        height: fit-content;
        width: 600px;
        margin: 0 auto;
        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        img{
            width: 420px;
            height: auto;
        }
    }

    &__category{
        font-weight: 300;
        font-size: 14px;
        opacity: 50%;
        padding-top: 3px;
    }

    &__title{
        font-weight: 300;
        font-size: 18px;
        padding-top: 4px;
    }

    &__readMore{
        font-weight: 300;
        font-size: 14px;
        color: #6c6c6c;
        padding-top: 8px;
    }
}