.RightPanel{
    max-height: 300px;
    width: 240px;
    font-size: 11px;
    margin-top: 80px;
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
    align-content: end;

    &__sortTitle{
        padding-bottom: 15px;
        font-weight: 500;
    }

    &__sort >*{
        padding-bottom: 3px;
    }

    &__colorsTitle{
        padding-top: 20px;
        padding-bottom: 15px;
        font-weight: 500;
    }

    &__colors{
        margin-bottom: 30px;
    }

&__colors >*{

padding-bottom: 3px;
}
}
