.RightPanel {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    width: 15%;
    font-size: 11px;
    margin-top: 40px;
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
    padding-right: 25px;
    list-style: none;

    &__sortTitle{
        padding-bottom: 15px;
        font-weight: 500;
    }

    &__sort >*{
        padding-bottom: 3px;
    }

    &__colorsTitle{
        padding-top: 20px;
        padding-bottom: 15px;
        font-weight: 500;
    }

    &__colors{
        margin-bottom: 30px;
    }

&__colors >*{
padding-bottom: 3px;
}
}

/* ----------- Mobile ----------- */
@media only screen and (max-width: 600px) {
    .RightPanel{
        display: none;
    }
}
