.navBar {
    height: 40px;
    position: fixed;
    width: 100%;
    top: 0;

    &__container{
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        margin: 10px auto;
        max-width: 1800px;
    }

    &__img{
        display: flex;
        width: 90px;
        height: 40px;
        padding-top: 0px;
        justify-content: center;
    }

    &__itemList {
        list-style-type: none;
        display: flex;
        gap: 25px;
        padding: 0;
        font-size: 11px;
    }

    &__item{
        text-decoration: none;
        color: black;
    }

}