.gearIndex {
    margin: 60px 19px;
    display: flex;


    &__container {
        display: flex;
        flex-wrap: wrap;
        width: max-content;
        flex-grow:1;
        flex-shrink: 1000;
    } 

}
