.home{


    .introduction{
        
        text-align: center;

        &__header{
            margin-top: 115px;
            font-size: 18px;
            font-weight: 300;
        }

        &__listItem{
            font-size: 14px;
            font-weight: 200;
            margin: 20px;
            }
    }

    .articles {
        display: grid;
        grid-template-columns: 1fr 1fr; 
    }

    .rickson{
        margin: 80px 40px;
        font-size: 18px;
        font-weight: 300;
        width: fit-content;

        &__type{
            font-size: 14px;
            padding-top:5px ;
            padding-bottom: 8px;
        }

        &__readMore{
            padding-top: 5px;
            font-size: 16px;
        }
    }

    .tye{
        margin: 80px -375px;
        font-size: 18px;
        font-weight: 300;
        width: fit-content;

        &__type{
            font-size: 14px;
            padding-top:5px ;
            padding-bottom: 8px;
        }

        &__readMore{
            padding-top: 5px;
            font-size: 16px;
        }
    }

    .gordonRyan{
        margin: 0px 40px ;
        font-size: 18px;
        font-weight: 300;
        width: fit-content;

        &__type{
            font-size: 14px;
            padding-top:5px ;
            padding-bottom: 8px;
        }

        &__readMore{
            padding-top: 5px;
            font-size: 16px;
        }
    }

    .nickyRyan{
        margin: 0px 40px ;
        font-size: 18px;
        font-weight: 300;
        width: fit-content;

        &__type{
            font-size: 14px;
            padding-top:5px ;
            padding-bottom: 8px;
        }

        &__readMore{
            padding-top: 5px;
            font-size: 16px;
        }
    }
}