.cart{
    
&__title{
    padding-top: 120px;
    margin-left: 350px;
    font-size: 12px;
    font-weight: 300;
    padding-bottom: 8px;
}

&__itemTitle{
    margin-left: 430px;
    font-size: 12px;
    display: inline;
    font-weight: 200;
}

&__totalTitle{
    font-size: 12px;
    display: inline;
    margin: 700px;
    font-weight: 200;
}

&__line{
    width: 845px;
    height: 20px;
    border-bottom: 1px solid black;
    margin-left: 350px ;
}

&__totalLeftPane{
    width: 422.5px;
    display: flex;
    flex-direction: column;
    margin-left: 468px;
}

&__totalRightPane{
    width: 422.5px;
    display: flex;
    flex-direction: column;
    margin-left: 775px;
    text-align: right;
}
&__totalText{
    font-size: 11px;
    font-weight: 400;
    padding-top: 30px;
}

&__shippingEstText{
    font-size: 11px;
    font-weight: 400;
}

&__orderTotalText{
    font-size: 11px;
    font-weight: 600;
    padding-top: 10px;
}

&__total{
    font-size: 11px;
    font-weight: 400;
    padding-top: 30px;
}

&__shippingEst{
    font-size: 11px;
    font-weight: 400;
}

&__orderTotal{
    font-size: 11px;
    font-weight: 600;
    padding-top: 10px;
}

}