.cart {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 180px;
        
&__container{
    margin-top: 100px;
}

&__checkout{
    margin-top: 0px;
    display: flex;
    // justify-content:end;
    align-items: center;
    // margin-right: 225px;
}

&__itemContainer {
    width: fit-content;
    margin: 0px;
}

&__titleContainer{
    justify-content: space-between;
    display: flex;
    padding-left: 170px;
    // text-decoration: underline;
}

&__title{
    // margin-left: 350px;
    font-size: 11px;
    font-weight: 400;
    padding-bottom: 8px;
}

&__itemTitle{
    // margin-left: 430px;
    font-size: 12px;
    display: inline;
    font-weight: 200;
}

&__totalTitle{
    font-size: 12px;
    display: inline;
    // margin: 700px;
    font-weight: 200;
}

&__line{
    // width: 845px;
    height: 20px;
    border-bottom: 1px solid rgb(187, 184, 184);
    // margin-left: 350px ;
}

.checkout{
    margin-top: 160px;
    margin-left: 22px;
}

.totalPrice {
    max-width: fit-content;
    margin-left: 170px;
}
span{
    text-decoration: underline;
}

}